#ra-content{
	width: 100%;
	min-height: 80px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}

img{
	width: 180px;
	float: left;
}

p{
	padding: 0;
	margin: 0;
	float: left;
	width: 1070px;
	margin-left: 10px;
	font-size: 15px;
}

h1{
	margin: 0;
	margin-bottom: 15px;
}

p a{
	color: #f28f45;
}