#left-menu{
    float: left;
    margin-top: 20px;
    height: 310px;
    width: 320px;
}

#left-menu .table{
    width: 320px;
}

#left-menu .table thead td{
    text-align: left;
    font-size: 18px;
}

#right-content{
    float: left;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    width: 935px;
    min-height: 208px;
    margin-left: 5px;
}

.selected{
    color: #f28f45;
}

#right-content .table{
    width: 935px;
}

#right-content .table td{
    width: 33.33%;
}
