select {
    width: 300px;
    height: 30px;
    margin-bottom: 5px !important;
}

.table tbody td{
    width: 7%;
    text-align: center;
}

.table tbody td:first-child{
    width: 3%;
    text-align: right;
}

.table td:nth-child(2){
    width: 22%;
    text-align: left;
}

.table td:nth-child(3){
    width: 43%;
    text-align: left;
}

.sp{
    margin: 25px 20px 10px 0px;
    float: left;
}

.sp div{
    margin: -25px 0 0 -5px !important;
    position:absolute;
    line-height:25px;
    width: 35px;
    height: 20px;
    text-align: center;
}

.cButton {
    float: left;
    width: 120px;
    margin-right: 5px !important;
}