.sp div{
    position: absolute;
    margin-left: 30px;
    line-height: 25px;
}

.sp {
    margin-right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;

    background-size: 25px 25px;
}
